@media screen and (max-width : 1024px) {
    header{
        .container{
            .header-content{
                .logo{
                    h1{
                        font-size: 28px;
                    }
                }
                nav{
                    padding: 12px 30px;
                    ul{
                        gap: 30px;
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .menu-icon{
                    display: none;
                }
            }
        }
    }


    .about{
        .container{
            width: 80%;
            .about-cont{
                h1{
                    font-size: 32px;
                    gap: 15px;
                }
                .text-cont{
                    gap: 50px;
                    .text{
                        gap: 10px;
                        width: 80%;
                        img{
                            width: 6%;
                        }
                        h2{
                            font-size: 22px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }









    .project{
        padding: 20px 0;
        .container{
            width: 85%;
            .project-content{
                gap: 30px;
                .title{
                    h1{
                        font-size: 32px;
                    }
                }
                .project-cards{
                        .pr-2{
                            transform: translateX(5%);
                        }
                    .project{
                        gap: 10px;
                        .img{
                            width: 100%;
                            img{
                                max-width: 70%;
                            }
                        }
                        .pr-title{
                            h2{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .message{
        .container{
            width: 85%;
            .content{
                display: flex; 
                justify-content: space-between;
                align-items: center;
                color: white;
    
                .left{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    flex: 1;
                    h1{
                        font-size: 32px;
    
                    }
                }
    
                .right{
                    display: none;
                }
            }
        }
    }


}


@media screen and (max-width : 768px) {
    header{
        .container{
            .header-content{
                gap: 10px;
                .logo{
                    img{
                        width: 90%;
                    }
                    h1{
                        font-size: 28px;
                    }
                }
                nav{
                    transition: all ease-in-out .8s;
                    display: none;
                    padding: 12px 30px;
                    ul{
                        gap: 15px;
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .btn{
                    display: none;
                }
                .menu-icon{
                    display: block;
                }
            }   
            .nav{
                width: 100%;
                padding: 8px 10px;
                ul{
                    gap: 8px;
                    li{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }








    .about{
        .container{
            width: 85%;
            .about-cont{
                h1{
                    font-size: 30px;
                    gap: 12px;
                }
                .text-cont{
                    .text{
                        gap: 8px;
                        width: 90%;
                        img{
                            width: 7%;
                        }
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }




    .project{
        padding: 20px 0;
        .container{
            width: 85%;
            .project-content{
                gap: 30px;
                .title{
                    h1{
                        font-size: 32px;
                    }
                }
                .project-cards{
                        .pr-2{
                            transform: translateX(5%);
                        }
                    .project{
                        gap: 10px;
                        .img{
                            width: 100%;
                            img{
                                max-width: 70%;
                            }
                        }
                        .pr-title{
                            h2{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }



    .project{
        .container{
            width: 90%;
            .project-content{
                gap: 20px;
                .title{
                    h1{
                        font-size: 28px;
                    }
                }
                .project-cards{
                        .pr-2{
                            transform: translateX(0%);
                        }
                    .project{
                        gap: 10px;
                        .img{
                            width: 100%;
                            img{
                                max-width: 100%;
                            }
                        }
                        .pr-title{
                            h2{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }


    .testimonials {
        .container{
            width: 90%;
        h2{
            font-size: 28px;
            margin-bottom: 26px;
        }
        .testimonial-grid {
            gap: 28px;
            .testimonial {
                padding: 20px;
    
                .client-info {
                    .client-details{
                        h3 {
                            font-size: 20px;
                            color: #ccc;
                        }
                        p {
                            margin: 0;
                            font-size: 14px;
                            color: #888;
                        }
                    }
                }
                .testimonial-text {
                    font-size: 14px;
                    line-height: 1.5;
                    color: #ddd;
                }
            }
        }
        }
    }
    
    




    .message{
        margin: 20px 0;
        .container{
            width: 90%;
            .content{
                padding: 15px 0;
                .left{
                    gap: 25px;
                    text-align: center;

                    h1{
                        font-size: 26px;
    
                    }
                }
    
                .right{
                    display: none;
                }
            }
        }
    }


    footer{
        .container{
            button{
                display: none;
            }
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
    }


}



@media screen and (max-width : 400px) {
    .home{
        .container{
            width: 90%;
            .home-content{
                width: 100%;
                .text-cont{
                    h1{
                        font-size: 34px;
                    }
    
                    p{
                        font-size: 14px;
                        width: 80%;
                    }
                }
            }
        }
    }



    .about{
        height: 100vh;
        .container{
            width: 90%;
            .about-cont{
                display: flex;
                flex-direction: column;
                color: white;
                h1{
                    font-size: 22px;
                    gap: 5px;
                }
                .text-cont{
                    gap: 50px;
                    .text{
                        width: 100%;
                        img{
                            width: 8%;
                        }
                        h2{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }



    .project{
        .container{
            width: 90%;
            .project-content{
                .title{
                    h1{
                        font-size: 20px;
                    }
                }
                .project-cards{
                    .project{
                        .pr-title{
                            h2{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

}