.testimonials {
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: max-content;
    align-items: center;
    .container{
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        width: 80%;
        margin: auto;
    h2{
        font-size: 32px;
        margin-bottom: 32px;
    }
    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 32px;
        .testimonial {
            background-color: #1e1e1ee3;
            border-radius: 10px;
            padding: 24px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.104);

            .client-info {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-right: 16px;
                }
                .client-details{
                    h3 {
                        margin: 0;
                        font-size: 20px;
                        color: #ccc;
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        color: #888;
                    }
                }
            }
            .testimonial-text {
                font-size: 14px;
                line-height: 1.5;
                color: #ddd;
            }
        }
    }
    }
}

